[Desktop Entry]
Type=Application
Icon=/home/user/arduino-ide-2/logo.png
Name=Arduino IDE 2
Terminal=false
Hidden=false
Categories=Development; IDE; Electronics
Exec=/home/user/arduino-ide-2/arduino-ide-2.AppImage
Path=/home/user/arduino-ide-2
StartupWMClass=arronax
